# 🌐 Application settings
APP_NAME=
HOST=
PORT_NUMBER=

# 🗄️ Database settings
DATABASE_URL=

# 🔐 Security settings
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_MINUTES=
IS_REFRESH_TOKEN_AUTOMATIC=

# 👤 Default admin credentials (for development only)
ADMIN_EMAIL=
ADMIN_USERNAME=
ADMIN_PASSWORD=